In [1]:
import pandas as pd
import duckdb
file = 's3://energy-transition-tracker/yearly_full_release_long_format.csv'

In [2]:
df = pd.read_csv(file)
df

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,0.19,NaN,NaN
1,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,0.03,NaN,NaN
2,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,0.03,NaN,NaN
3,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,0.19,NaN,NaN
4,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,0.19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357047,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Other Fossil,mtCO2,0.00,0.00,NaN
357048,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Other Renewables,mtCO2,0.00,0.00,NaN
357049,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Solar,mtCO2,0.00,0.00,NaN
357050,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Wind,mtCO2,0.00,0.00,NaN
357051,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Total,Total emissions,mtCO2,2.48,-0.18,-6.77

In [3]:
df.columns

Index(['Area', 'ISO 3 code', 'Year', 'Area type', 'Continent', 'Ember region',
       'EU', 'OECD', 'G20', 'G7', 'ASEAN', 'Category', 'Subcategory',
       'Variable', 'Unit', 'Value', 'YoY absolute change', 'YoY % change'],
      dtype='object')

In [4]:
df['Area'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'ASEAN', 'Asia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas (the)', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Cayman Islands (the)',
       'Central African Republic (the)', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros (the)',
       'Congo (the Democratic Republic of the)', 'Congo (the)',
       'Cook Islands (the)', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic (the)', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'EU', 'Europe', 'Falkland Islands (the) [Malvinas]',
       'Faroe Islands (the)', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'G20', 'G7', 'Gabon',
       'Gambia (the)', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', "Korea (the Democratic People's Republic of)",
       'Kosovo', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic (the)",
       'Latin America and Caribbean', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Middle East',
       'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger (the)', 'Nigeria', 'Niue', 'North America',
       'North Macedonia', 'Norway', 'Oceania', 'OECD', 'Oman', 'Pakistan',
       'Palestine, State of', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines (the)', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Reunion', 'Romania', 'Russian Federation (the)',
       'Rwanda', 'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan (the)',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic (the)',
       'Taiwan', 'Tajikistan', 'Tanzania, the United Republic of',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands (the)', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Virgin Islands (British)', 'Virgin Islands (U.S.)',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [5]:
mexico_data = df[df['Area'] == 'Mexico']
mexico_data

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
207890,Mexico,MEX,2000,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,11.32,NaN,NaN
207891,Mexico,MEX,2000,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,29.58,NaN,NaN
207892,Mexico,MEX,2000,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,24.88,NaN,NaN
207893,Mexico,MEX,2000,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,9.98,NaN,NaN
207894,Mexico,MEX,2000,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,10.01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209435,Mexico,MEX,2024,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Power sector emissions,Fuel,Nuclear,mtCO2,0.06,0.00,0.00
209436,Mexico,MEX,2024,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Power sector emissions,Fuel,Other Fossil,mtCO2,22.25,-0.95,-4.09
209437,Mexico,MEX,2024,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Power sector emissions,Fuel,Solar,mtCO2,1.22,0.11,9.91
209438,Mexico,MEX,2024,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Power sector emissions,Fuel,Wind,mtCO2,0.15,-0.01,-6.25
209439,Mexico,MEX,2024,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Power sector emissions,Total,Total emissions,mtCO2,171.60,-0.40,-0.23

In [6]:
def format_columns(column: str) -> str:
    column = column.lower().split(' ')
    return '_'.join(column)

mexico_data.columns = [format_columns(column) for column in mexico_data.columns]
mexico_data.head()

,area,iso_3_code,year,area_type,continent,ember_region,eu,oecd,g20,g7,asean,category,subcategory,variable,unit,value,yoy_absolute_change,yoy_%_change
207890,Mexico,MEX,2000,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,11.32,NaN,NaN
207891,Mexico,MEX,2000,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,29.58,NaN,NaN
207892,Mexico,MEX,2000,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,24.88,NaN,NaN
207893,Mexico,MEX,2000,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,9.98,NaN,NaN
207894,Mexico,MEX,2000,Country or economy,North America,Latin America and Caribbean,0.0,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,10.01,NaN,NaN

In [7]:
mexico_data.drop(['iso_3_code', 'area_type', 'continent', 'ember_region', 'eu', 'oecd', 'g20', 'g7', 'asean'], axis=1, inplace=True)

/var/folders/gb/v09xcc0s2ms87qgsxt97wkjh0000gn/T/ipykernel_12146/4103456952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mexico_data.drop(['iso_3_code', 'area_type', 'continent', 'ember_region', 'eu', 'oecd', 'g20', 'g7', 'asean'], axis=1, inplace=True)

In [8]:
mexico_data

,area,year,category,subcategory,variable,unit,value,yoy_absolute_change,yoy_%_change
207890,Mexico,2000,Capacity,Aggregate fuel,Clean,GW,11.32,NaN,NaN
207891,Mexico,2000,Capacity,Aggregate fuel,Fossil,GW,29.58,NaN,NaN
207892,Mexico,2000,Capacity,Aggregate fuel,Gas and Other Fossil,GW,24.88,NaN,NaN
207893,Mexico,2000,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,9.98,NaN,NaN
207894,Mexico,2000,Capacity,Aggregate fuel,Renewables,GW,10.01,NaN,NaN
...,...,...,...,...,...,...,...,...,...
209435,Mexico,2024,Power sector emissions,Fuel,Nuclear,mtCO2,0.06,0.00,0.00
209436,Mexico,2024,Power sector emissions,Fuel,Other Fossil,mtCO2,22.25,-0.95,-4.09
209437,Mexico,2024,Power sector emissions,Fuel,Solar,mtCO2,1.22,0.11,9.91
209438,Mexico,2024,Power sector emissions,Fuel,Wind,mtCO2,0.15,-0.01,-6.25
209439,Mexico,2024,Power sector emissions,Total,Total emissions,mtCO2,171.60,-0.40,-0.23

In [9]:
cols = ['category', 'subcategory', 'variable', 'unit']
for col in mexico_data.columns:
    if col in cols:
        print(mexico_data[col].name)
        print(mexico_data[col].unique())

category
['Capacity' 'Electricity demand' 'Electricity generation'
 'Electricity imports' 'Power sector emissions']
subcategory
['Aggregate fuel' 'Fuel' 'Demand' 'Demand per capita' 'Total'
 'Electricity imports' 'CO2 intensity']
variable
['Clean' 'Fossil' 'Gas and Other Fossil'
 'Hydro, Bioenergy and Other Renewables' 'Renewables' 'Wind and Solar'
 'Bioenergy' 'Coal' 'Gas' 'Hydro' 'Nuclear' 'Other Fossil' 'Solar' 'Wind'
 'Demand' 'Demand per capita' 'Total Generation' 'Net Imports'
 'CO2 intensity' 'Total emissions']
unit
['GW' 'TWh' 'MWh' '%' 'mtCO2' 'gCO2/kWh']

In [10]:
con = duckdb.connect('energy_tracker.duckdb')
con.sql("select distinct area_type from silver_global_energy_stats_clean").show()

┌────────────────────┐
│     area_type      │
│      varchar       │
├────────────────────┤
│ Region             │
│ Country or economy │
└────────────────────┘